.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  position: relative;

  .common-error {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

.form-row mat-form-field {
  flex: 1;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}
