<app-header-layout [layoutTitle]="null" [defaultBackLink]="backBacklink()">
  <div class="days-control">
    <button mat-icon-button (click)="onPreviousDay()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="current-date">
      {{ date()! | date: "MMMM d, y" }}
    </span>
    <button mat-icon-button (click)="onNextDay()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <button
    mat-raised-button
    color="primary"
    #menuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="menu"
    (click)="handleNewEventClick(menuTrigger)"
  >
    <mat-icon>add</mat-icon> Add event
  </button>
</app-header-layout>

<div
  class="calendar-day-view"
  [style.--hour-height.px]="hourHeightPx()"
  [listenResizeDelay]="300"
  (listenResize)="gridSize.set($event)"
>
  <div class="time-grid-container">
    <div class="time-scale">
      @for (hour of hours; track hour) {
        <div class="hour-marker">
          <span class="hour-label">{{ hour + ":00" | timeFormat: isAmericanFormat() }}</span>
        </div>
      }
    </div>

    <div class="grid-lines">
      @for (hour of hours; track hour) {
        <div class="hour-line"></div>
      }
    </div>

    <div class="appointments-container">
      @for (appointment of displayAppointments(); track appointment.id) {
        <div
          #menuTrigger="matMenuTrigger"
          class="appointment-block"
          [matMenuTriggerFor]="menu"
          [ngStyle]="{
            'top.px': appointment.top,
            'height.px': appointment.height,
            'background-color': appointment.color,
            left: appointment.left,
            width: appointment.width
          }"
          (click)="handleAppointmentClick(appointment, menuTrigger, $event)"
        >
          <div class="appointment-content">
            <div class="appointment-title">{{ appointment.title }}</div>
            <div class="appointment-time">
              {{ appointment.startTime | timeFormat: isAmericanFormat() }} -
              {{ appointment.endTime | timeFormat: isAmericanFormat() }}
            </div>
            @if (appointment.description) {
              <div class="appointment-description">
                {{ appointment.description }}
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="after" yPosition="above" (closed)="handleMenuClose()">
  @if (activeFormMenuTrigger()) {
    <app-appointment-form
      [isEditAppointmentMode]="isEditMode()"
      [menuTrigger]="activeFormMenuTrigger()"
      [selectedDate]="selectedDate()"
      [appointment]="selectedAppointment()"
    ></app-appointment-form>
  }
</mat-menu>
