<app-calendar-header>
  <button mat-raised-button color="primary" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
    <mat-icon>add</mat-icon> Add event
  </button>
</app-calendar-header>
<div class="calendar-container">
  <div class="calendar-view">
    <div class="calendar-header">
      @for (day of daysOfWeek; track day) {
        <div class="calendar-header-cell">{{ day }}</div>
      }
    </div>

    <div
      #calendarSectionRef
      class="calendar-grid"
      (listenResize)="calendarGridSize.set($event)"
      [@slideAnimation]="slideDirection()"
      (@slideAnimation.done)="onAnimationDone()"
    >
      @for (week of calendarMonth()!.weeks; track $index) {
        @for (day of week.days; track day.date.getTime()) {
          <app-calendar-day
            [day]="day"
            [dayCellSize]="dayCellSize()"
            [allDayIds]="allDayIds() || []"
            (dayClicked)="handleDayClick($event.day, $event.trigger)"
            (appointmentClicked)="handleAppointmentClick($event.appointment, $event.trigger, $event.event)"
            (appointmentDropped)="onDrop($event)"
          ></app-calendar-day>
        }
      }
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="after" yPosition="above">
  <div class="appointment-form-container" (click)="$event.stopPropagation()">
    <app-appointment-form [menuTrigger]="menuTrigger" [isEditAppointmentMode]="false"></app-appointment-form>
  </div>
</mat-menu>
