<mat-toolbar color="primary">
  <div class="header-container">
    <div class="title">
      <h1>Calendar</h1>
    </div>

    <div class="calendar-actions">
      <ng-content></ng-content>
    </div>

    <button mat-button (click)="goToToday()">Today</button>

    <div class="month-navigation">
      <button mat-icon-button (click)="previousMonth()">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <span class="current-month">
        {{ currentDate() | date: "MMMM yyyy" }}
      </span>

      <button mat-icon-button (click)="nextMonth()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
